<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.min.js"></script>
<style>
  body {
    background-image: url("assets/static/images/login_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

  ;
  }
</style>

<main class="container mt-4">
  <div class="card m-auto col-md-8 col-lg-6 border border-warning">
    <div class="container-fluid bg-dark p-1 text-center rounded ">
      <img class="logo-nav-login mt-2  logo "
           src="../static/images/Logo_Rectangular.png"
           alt="Logo EmprenRed"
           height="150px" />
    </div>
    <div class="card-body">
      <div class="formulario">

        <form class="needs-validation">
          <div class="email">
            <span class="input-group-addon"><i class="fa fa-envelope icon-2x"></i></span>
            <label for="validationTooltip01"
                   class="form-label">Email</label>
            <input id="username"
                   name="username"
                   type="email"
                   class="form-control"
                   onfocusout="validar(this, 2,30)"
                   minlength="2"
                   maxlength="30"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   required>
            <div class="invalid-feedback">
              Por favor complete correctamente el campo.
            </div>
          </div>

          <div class="contraseña">
            <span class="input-group-addon"><i class="fa fa-key icon-2x"></i></span>
            <label for="validationTooltip01"
                   class="form-label">Contraseña</label>
            <input id="password"
                   name="password"
                   type="password"
                   class="form-control"
                   onfocusout="validar(this, 8,15)"
                   minlength="8"
                   maxlength="15"
                   required>
            <div class="invalid-feedback">
              Por favor complete correctamente el campo.
            </div>


            <div class="container mt-3">
              <input class="btn btn-warning"
                     type="button"
                     onclick="login()"
                     value="Iniciar Sesión" />

              <a class="btn btn-link"
                 href="registro.html">Regístrese</a>
            </div>

            <a class="btn btn-link"
               href="#">
              <small>
                Olvidé mi contraseña
              </small>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
