.titulo {
    background-color: #2a2927;
    padding: 2em 0 2em 3em;
    margin-bottom: 3em;
    color: #f0f8ff;
    }

.titulo h2{
    font-size: 40px;
    }

.container{
    text-align: center;
    margin-bottom: 5em;
    }
    
.col-3{
    width: 400px;
    }
    
.card{
    margin: 15px 5px 30px;
    background-color: rgba(240, 240, 226, 0.315);
    }

.imagencontainer{
    width: 100%x;
    height: 400px;
    }
.card-img-top {
    object-fit: cover;
    width:100%;
    height:100%;
    padding: 15px 15px 0;
    border-bottom: 1px solid #0000001d;
    }
.titulo{
    margin-top: 10px;
    }
.card-title{
    height: 60px;
    font-size: 25px;
    }
    
.card-text{
    height: 60px;
    }
    
.card-precio{
    height: 40px;
    }
    
.botoncarrito{
    background-color: #FFC107;
    color: #000000;
    border: none;
    padding: 10px;
    margin: 0 15px 5px 0;
    float: right;
    }
    
.botoncarrito:hover{ 
    background-color: #eaba28;
    }
    
.detallesproducto{
    color: #000000;
    background-color: #457de6b3;
    border: none;
    padding: 10px;
    margin:0 0 5px 15px;
    float: left;
    }
