<div class="titulo">
	<h2>Productos | {{categoria}}</h2>
</div>
<div class="container">
	<div class="filtros">
		<div class="menufiltros" (click)="filtromenu()">Ordenar por:</div>
		<div class="opcionesfiltro" *ngIf="isMenuOpened">
			<div class="filtro-item" (click)="filtro='precioDsc'">Precio:menor a mayor</div>
			<div class="filtro-item" (click)="filtro='precioAsc'">Precio:mayor a menor</div>
			<div class="filtro-item" (click)="filtro='fechaDsc'">Mas antiguos a reciente</div>
			<div class="filtro-item" (click)="filtro='fechaAsc'">Mas recientes</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3" 
		*ngFor="let producto of productos | ordenar:filtro">
			<div class="card">
				<div class="imagencontainer">
					<img title="" alt="titulo"class="card-img-top" src="{{producto.imagen}}">
				</div>
				<div class="card-body">
					<h5 class="card-title">{{producto.nombre}}</h5>
					<p class="card-text">{{producto.descripcion}}</p>
					<p class="card-precio">{{producto.precio | currency}}</p>
					<a class="btn btn-primary detallesproducto" routerLink="/productos/{{producto.tipoProducto.descripcion}}/{{producto.id}}">Detalles</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar" onclick="llamarCategoria()">Agregar al carrito</button>
				</div>
			</div>
		</div>
	</div>
</div>

