<div class="titulo">
	<h2>Celulares</h2>
</div>
<div class="container">
	<div class="row" routerLink>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
 					<a class="btn btn-primary detalleproducto"routerLink="">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
 					<button class="btn btn-primary botoncarrito" name="btn0Accion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="card">
				<img title="titulo de producto" alt="titulo"class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/04/08/22/iphone-2470313_960_720.png">
				<div class="card-body">
					<h5 class="card-title">Titulo</h5>
					<p class="card-text">Descripcion de producto</p>
					<p class="card-precio">$$$</p>
					<a class="btn btn-primary detalleproducto">Detalle</a>
					<button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar"type="submit">Agregar al carrito</button>
				</div>
			</div>
		</div>
	</div>
</div>