

<!--
<div class="container-fluid px-1 py-5 mx-auto row justify-content-center">
    <div class="col-xl-9 col-lg-10 col-sm-11 ">
    <div class="card pl-4 pl-md-5 pr-3">
        <div class="row">
            <div class="left-side col-md-6">
                <p class="pt-5 mb-0">Converse All Star</p>
                <h3 class="pb-3">Elegí tu estilo, marcá tendencias. </h3>
                <button class="btn btn-pink mb-md-5">Elegí las tuyas</button>
            </div>
            <div class="right-side col-md-6">
                <img class="shoe-img pl-5 pl-md-0" src="https://i.imgur.com/EaNHGjT.png">
            </div>
        </div>
    </div>
</div>
-->

<div class="slider">
    <ul>
      <li><img src="../../../../assets/img/banner1.png" alt="...">
          <button class="btn btn-pink mb-md-5">Elegí las tuyas</button></li>
      <li><img src="../../../../assets/img/banner2.png" alt="...">
          <button class="btn btn-pink mb-md-5">Elegí las tuyas</button></li>
      <li><img src="../../../../assets/img/banner3.png" alt="...">
          <button class="btn btn-pink mb-md-5">Elegí las tuyas</button></li>
    </ul>
  </div>