/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  font-family: "Roboto", sans-serif;
}

main {
  margin-bottom: 150px;
}
footer {
  height: 80px;
  color: white;
}

#logo-nav {
  width: 12%;
  margin-left: 30px;
}
.campo {
  margin-right: 25px;
}
@media (max-width: 768px) {
  #logo-nav {
    width: 15rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 150px;
  }
  .text {
    margin: 0px;
  }
}
@media (max-width: 768px) {
  #contentContainer {
    width: 90%;
    margin-bottom: 200px;
  }
}

@media (max-width: 768px) {
  #social-sign-in .icon-5x {
    font-size: 7em;
  }
}
@media (max-width: 480px) {
  #social-sign-in .icon-5x {
    font-size: 4.5em;
  }
}
@media (min-width: 1199px) {
  #social-sign-in .icon-5x {
    font-size: 7em;
  }
}
.well h3 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
#signupForm .input-group {
  margin-bottom: 20px;
}

/* get font-awesome to work with BS3 */
.input-group-addon .icon-2x {
  width: 28px;
  min-width: 28px;
  display: inline-block;
}

.inline-block > li {
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 0;
}

/* Why doesn't OR work? Tested with Chrome 29, FF 24 or IE 11 */
@media (max-width: 480px), (min-width: 1199px) {
  #social-sign-in .icon-5x {
    font-size: 7em;
  }
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: none;
}

.checkbox-inline,
.radio-inline {
  margin-right: 28px;
  font-size: 16px;
}

.iconos {
  height: 50px;
}
.icono {
  margin-left: 5px;
}
.text {
  margin-right: 5px;
}

.logo {
  width: 15rem;
  height: 5rem;
  margin: 10px;
}

.flotante {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 50000;
}
.cabecera {
  width: 700px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.crearPublicacion {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');*/

::selection {
  color: #fff;
  background: #5372f0;
}
.wrapper {
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
}
.wrapper header {
  font-size: 35px;
  font-weight: 600;
}
.wrapper form {
  margin: 40px 0;
}
form .field {
  width: 100%;
  margin-bottom: 20px;
}
form .field.shake {
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}
form .field .input-area {
  height: 50px;
  width: 100%;
  position: relative;
}
form input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372f0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input {
  border-color: #5372f0;
}
form .field.shake input,
form .field.error input {
  border-color: #dc3545;
}
.field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon {
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon {
  color: #5372f0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon {
  color: #bfbfbf;
}
form input::placeholder {
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error {
  display: none;
}
form .field.shake .error,
form .field.error .error {
  display: block;
}
form .pass-txt {
  text-align: left;
  margin-top: -10px;
}
.wrapper a {
  color: #5372f0;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}
form input[type="submit"] {
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #5372f0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover {
  background: #2c52ed;
}

.hide {
  display: none;
}

