<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EmprenRed es una red social para emprendedores y proveedores">
  <meta name="keywords" content="Red Social Emprendedores, Catálogo Productos, Emprendimientos , Emprendedores, Proveedores,Venta por Mayor,Empreder,Pymes"/>
  <link rel="icon" type="image/vnd.microsoft.icon" href="../static/iconos/favicon.ico">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Catálogo</title>
</head>

<body class="d-flex flex-column justify-content-between align-items-center">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="index.html"><img id="logo-nav" src="../static/images/Logo_Rectangular.png"
            alt="Logo EmprenRed" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse displa " id="navbarNavDropdown">
          <ul class=" navbar-nav d-flex justify-content-between ">

            <li class=" campo nav-item">
              <a class="nav-link active " aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="  campo nav-item">
              <a class="nav-link text-white " aria-current="page" href="contacto.html">Contacto</a>
          </li>
            <li class="nav-item dropdown ">
              <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../static/images/avataaars.svg" alt="foto logo" width="37" height="37" id="fotoPerfil"
                  class="rounded-circle me-2"> Amanda Sanchez
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="perfil.html">Mi Perfil</a></li>
                <li><a class="dropdown-item" href="listadecontactos.html">Mis Contactos</a></li>
                <li><a class="dropdown-item" href="editarPerfil.html">Editar Perfil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li> <a class="dropdown-item" href="#"> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <main class="d-flex flex-column align-items-center">

    <div class=" mb-3 bg-warning text-black  bg-opacity-50 text-center  cabecera ">
      <ion-icon name="book-outline" size="large"></ion-icon>
      <h3> Mi Catálogo</h3>
    </div>

    <div class="container ">
      <div class=" row">

        <!-- Button  modal -->
        <div class="col">
          <div class=" card ">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <ion-icon name="add-circle-outline" size="large"></ion-icon>
            </button>
          </div>
        </div>

        <!-- Productos -->
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img src="../static/images/D_NQ_NP_649662-MLA28452712351_102018-O.jpg" class="card-img-top"
              alt="foto producto">
            <div class="card-body">
              <h5 class="card-title">Remeras Top</h5>
              <p class="card-text">Remeras top en color negro, blanco, rosa, Talles del 1 al 6. Hermosa calidad.</p>
            </div>

            <div class="card-body">
              <p> $1100 </p>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img src="../static/images/D_NQ_NP_649662-MLA28452712351_102018-O.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Remeras Top</h5>
              <p class="card-text">Remeras top en color negro, blanco, rosa, Talles del 1 al 6. Hermosa calidad.</p>
            </div>

            <div class="card-body">
              <p> $1100 </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img src="../static/images/D_NQ_NP_649662-MLA28452712351_102018-O.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Remeras Top</h5>
              <p class="card-text">Remeras top en color negro, blanco, rosa, Talles del 1 al 6. Hermosa calidad.</p>
            </div>

            <div class="card-body">
              <p> $1100 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Crear Producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" class="bg-white d-flex flex-column mb-3 ">
              <input type="text" placeholder="nombre del producto">
              <input type="text" placeholder="precio">
              <div class="row">
                <div class="" id="divMensaje" style="height: 70px">
                  <textarea name="descripcion" id="descripcion" rows="3"
                    class="form-control form-control-sm border h-100" placeholder="descripcion"></textarea>
                </div>
              </div>
              <div class="d-flex justify-content-between px-3 py-3 rounded-bottom" style="background-color: #EAEDED;">
                <label for="foto" id="labelFoto" class="btn btn-sm btn-warning"> <img
                    src="../static/iconos/image.svg">FOTO</label>
                <input type="file" name="foto" id="foto" hidden>
                <button type="submit" class="btn btn-sm btn-warning">Agregar</button>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Crear</button>
          </div>
        </div>
      </div>
    </div>





  </main>

  <p class="flotante"><a href="#top" class="btn btn-sm btn-warning shadow">Subir</a></p>

  <footer class="footer py-3 bg-dark fixed-bottom d-flex justify-content-center align-items-center ">
    <div class=" text ">
      <p>EmprenRed - 2021</p>
    </div>
    <div class="d-flex justify-content-center align-items-center  ms-3 ">
      <p>Seguinos en nuestras <b>redes</b> </p>
    </div>
    <div class="iconos ms-3 ">
      <a href="https://instagram.com/emprenRed/"><img class="icono" src="../static/images/topinsta.png" width="30"></a>
      <a href="https://facebook.com/emprenRed/"><img class="icono" src="../static/images/topface.png" width="30"></a>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="../static/js/registro/registro.js"></script>

</body>

</html>