<div class="col-md-6 offset-md-3 mt-5">

    <div class="card">
        <h4 class="card-header">Registro de Usuarios</h4>
        <div class="card-body">
            <form  (ngSubmit)="guardar()" autocomplete="off" [formGroup]="formularioRegistro">

               <!--- Campo Nombre -->
               <div>
                    <label>Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control" />
                    <span class="form-text text-danger"
                    *ngIf="campoEsValido('nombre')">
                        El nombre es requerido y debe ser de más de 3 caracteres
            </span>
        </div>
           <!--- Campo Apellido -->
                    <div>
                    <label>Apellido</label>
                    <input type="text" formControlName="apellido" class="form-control" />
                    <span class="form-text text-danger"
                    *ngIf="campoEsValido('apellido')">
                        El apellido es requerido y debe ser de más de 3 caracteres
                   </span>
                    </div>
                       <!--- Campo Fecha Nac -->
                    <div>
                        <label for="matInput">Fecha de Nacimiento</label>
                        <div>
                            <input type="date" class="form-control" formControlName="fechaNac">
                        </div>
                    </div>
                    <div>
                    <span class="form-text text-danger"
                    *ngIf="campoEsValido('fechaNac')">
                       Debe seleccionar una fecha de nacimiento valida
                    </span>
                    
                    </div>

                    
  
                     <!--- Campo Provincia -->
                     <div>
                    <label>Provincia</label>
                    <select class="form-control" formControlName="provincia">
                        <option [value]="item" *ngFor="let item of provincias">{{item.toString()}}</option>
                    </select>
                    <span class="form-text text-danger"
                    *ngIf="campoEsValido('provincia')">
                       Debe seleccionar una provincia
                    </span>
                     </div>
                    <!--- Campo Email -->
                     <div>
                    <label for="username">Correo Electrónico</label>
                    <input type="email" formControlName="email" class="form-control" />
                    <span class="form-text text-danger"
                    *ngIf="campoEsValido('email')">
                       Ingrese un correo electrónico válido.
                    </span>
                </div>
                    <!--- Campos contraseña / Repita  -->
                    <div>
                    <label for="password">Contraseña</label>
                    <input type="text" formControlName="contraseña" class="form-control" />
                    <span class="form-text text-danger"
                    *ngIf="campoEsValido('contraseña')">
                        El mínimo de carácteres para una contraseña es 8.
                   </span>
                </div>
                    

                   
                    <label for="password">Repita la contraseña</label>
                    <input type="text" class="form-control" formControlName="contraseña2"/> 
                    <div class="form-text text-danger" *ngIf="repitaPassword()">
                        <div >Las contraseñas deben coincidir</div>
                    </div><br>
                    
            


                <div>
           
                    <button pButton
                    type="submit" [disabled]="false">
                        <span></span>
                        Registrar
                    </button>
              
                </div>
              
            </form>
        </div>
    </div>
    
    </div>