<footer class="footer py-3 bg-dark fixed-bottom d-flex justify-content-center align-items-center ">
  <div class=" text ">
    <p>EmprenRed - 2021</p>
  </div>
  <div class="d-flex justify-content-center align-items-center  ms-3 ">
    <p>Seguinos en nuestras <b>redes</b> </p>
  </div>
  <div class="iconos ms-3 ">
    <a href="https://instagram.com/emprenRed/"><img class="icono"
                                                    src="assets/static/images/topinsta.png"
                                                    width="30"></a>
    <a href="https://facebook.com/emprenRed/"><img class="icono"
                                                   src="assets/static/images/topface.png"
                                                   width="30"></a>
  </div>

</footer>
