*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo h2{
    margin: 20px 20px 40px;
    font-size: 45px;
    }

.container{
    width: 100%;
    margin: 20px auto;
    height: 450px;
    display: flex;
    overflow: hidden;
    background-color: rgba(240, 240, 226, 0.446);
    box-shadow: 0 5px 5px #eaa44f89;
}

.imagencontainer{
    width: 500px;
    height:100%;
    margin: 0;
    padding: 15px;
}

.card-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.containertexto{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 200px 150px;
    padding: 10px 15px;
    margin-left: 30px;

}

.card-title{
    color: #2a2222;
    font-size: 40px;
    margin-top: 50px;
}


.card-precio{
    font-size: 35px;
}

.card-text{
    font-size: 25px;
}
.card-stock{
    font-size: 20px;
    margin-top: 50px;
    padding: 0;
}
.botones{
    margin:50px 20px 10px auto;
    padding: 10px;
}
.botonfavoritos{
    padding: 15px 30px;
    float: left;
    margin: 10px;
    font-size: 15px;
}
.botoncarrito{
    padding: 15px 30px;
    margin: 10px;
    float: right;
    font-size: 20px;
    color: #000000;
}

.botoncarrito:hover{
    background-color: #eaba28;

}