<div class="titulo">
    <h2>Nombre Categoria</h2>
</div>
<div class="container">
    <div class="detallecontainer">
        <div class="row" >
            <div class="card">
            <img title="" alt="titulo"class="card-img-top" src="" height="550">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto<!--{{producto.nombre}}--></h5>
                    <p class="card-text">Detalle producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, vel ullam saepe deserunt, recusandae neque cum tempore velit qui, aperiam unde a blanditiis. Ad enim, quibusdam accusantium eaque iure minus.<!--{{producto.descripcion}}--></p>
                    <p class="card-precio">$$$<!--{{producto.precio}}--></p>
                    <button class="btn btn-primary botoncarrito" name="btnAccion" value="Agregar" onclick="llamarCategoria()">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
