
  <!--Section: Content-->
  <section>
    <div class="row">
      <div class="col-md-6 gx-5 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
             data-mdb-ripple-color="light">
          <img src="assets/static/images/gente2.png"
               class="img-fluid" />
          <a href="#!">
            <div class="mask"
                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 gx-5 mb-4">
        <br><br><br><br><br><br>
        <h1 style="color: rgb(255, 193, 7);"><strong>EmprenRed</strong></h1> <br>
        <h4>We are a social network designed to improve the communication between  future entrepreneurs and suppliers.Starting  a business is very easy with our page and find suppliers is at one click away!</h4>
        <br>
        <h3>
          Find and contact suppliers from all Argentina, and  start a business with EMPRENRED.
        </h3>
        <a class="btn btn-primary"
           href="/register"
           role="button">Sign In</a>
      </div>
    </div>
  </section>

