
  <!--Section: Content-->
  <section>
    <div class="row">
      <div class="col-md-6 gx-5 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
             data-mdb-ripple-color="light">
          <img src="assets/static/images/gente2.png"
               class="img-fluid" />
          <a href="#!">
            <div class="mask"
                 style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 gx-5 mb-4">
        <br><br><br><br><br><br>
        <h1 style="color: rgb(255, 193, 7);"><strong>EmprenRed</strong></h1> <br>
        <h4>Somos una Red Social pensada para mejorar la comunicación entre futuros emprendedores y proveedores, para que EMPRENDER sea más facil para todos y el contacto de diferentes proveedores sea solo con un CLICK.</h4>
        <br>
        <h3>
          Conectate con proveedores de toda la Argentina , Emprende con EmprenRed!
        </h3>
        <a class="btn btn-primary"
           href="../templates/registro.html"
           role="button">Registrarse</a>
      </div>
    </div>
  </section>

